* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: black;
    color: #00b800;
    font-family: 'Press Start 2P', cursive;
}
textarea {
    background: #00b800;
    color: black;
    padding: 20px;
    font-size: 20px;
}




.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 3.5rem;
}
.heading2 {
    margin-top: 30px;
    margin-right: 160px;
    font-size: 3.5rem;
}
button {
    background: #00b800;
    color: black;
    width: 180px;
    height: 60px;
    margin: 25px;
    font-family: 'Press Start 2P', cursive;
    font-style: 3.9rem;
    padding: 0;
} 
.heading3 {
    
    margin-right: 310px;
    font-size: 3.5rem;
}
.todolist {
    background: white;
}
.link1 {
    color: yellow
}
.link2 {
    color: blue
}